
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
   flex-direction: column;
    background-color: whitesmoke;
}
#particles-js{
    z-index:999;
 position: fixed;
 width: 100%;

 height: 100%;
 top: 0%;
}
h1{
    text-align: center;
padding: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-size: 3em;
}
footer{
    width: 100;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-weight: 900;
    padding: 10px;
    position: absolute;
    bottom: 0;

}
.counter-ctn, .result {
    z-index:99999;

    width: 50em;
    height: 500px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.result{
    display: none;
    font-weight: 800;
     margin: 10px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.result > span{
    margin: 10px;
}
.time{
    font-size: 4em;
}
.scoreboard {
    height: max-content;
    width: 90%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow child elements to wrap onto a new line */
}

.scoreboard > span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
text-decoration: underline;


}
.finalresultpic{
    margin: 10px;
}
.cps, .score{
    font-size: 2em;
    color:black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
ul {
    list-style-type: none;

    z-index: 999999;


}
ul > li{
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.score-box {
    width: 20%;
    height: 18vh;
    border: 4px solid black;
    border-radius: 10px;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    margin: 10px;
}
.pic-table{
    width: 50px;
    margin: 10px;
    padding: 10px;
    height: 50px;
}
.counter{
    font-size: 4em;
    color:black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    margin: 10px;
}
.counter-ctn > p{
    font-weight: 800;
    font-family: sans-serif, "Montserrat";
}
.difficulty-pic{
    width: 8em;
    height: 8em;
}
.float{
    animation: float 3s ease-in-out infinite;
  }
@keyframes float {
    0% {
      transform:  translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform:  translateY(0);
    }
  }
  .shake {
    animation: shake 0.5s ease-in-out infinite;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}

#js_timer {
position: absolute;
display: flex;
top: 380px;  
font-weight: 800;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 2em;

}

@media screen and (max-width: 1024px) {
.body{
    width: 100%;
    margin: 0;
    padding: 0;
}
    .scoreboard{
    width: 100vh;
    margin: 0;
    padding: 0;
}
.score-box {
    width: 40%;
    height: 15vh;
}
}
